Repository Khamel83/Atlas: changes, and which pre-commit hooks are due for each by the changed paths.
All: atlas-config-validation, atlas-dependency-check

atlas-config-validation:
  name: Atlas Configuration Validation
  entry: python scripts/validate_config.py
  language: system
  pass_filenames: false
  always_run: false

atlas-dependency-check:
  name: Atlas Dependency Check
  entry: python scripts/validate_dependencies.py --quick
  language: system
  pass_filenames: false
  always_run: false

feat: add unified link discovery and ingestion pipeline
  config/link_approval_rules.yml
  modules/links/__init__.py
  modules/links/approval.py
  modules/links/bridge.py
  modules/links/cli.py
  modules/links/extractor.py
  modules/links/models.py
  modules/links/shownotes.py
  systemd/atlas-link-pipeline.service
  systemd/atlas-link-pipeline.timer
Due: atlas-config-validation

feat: integrate clean content with Atlas Ask indexer
  modules/ask/indexer.py
Due: none

docs: update CLAUDE.md with enrichment and link pipeline documentation
  CLAUDE.md
Due: none

feat(api): add Shiori-compatible API for Atlas Reader
  api/main.py
  api/routers/shiori_compat.py
Due: none

docs: add Shiori API spec and iOS Shortcut guide
  docs/IOS_SHORTCUT.md
  docs/SHIORI_API_SPEC.md
Due: none

docs(todo): add Atlas Reader section with future improvements
  TODO.md
Due: none

feat(notes): add Notes system for user-curated content
  CLAUDE.md
  api/main.py
  api/routers/notes.py
  docs/IOS_SHORTCUT.md
  modules/ask/indexer.py
  modules/quality/__init__.py
  modules/quality/verifier.py
  scripts/migrate_selections_to_notes.py
Due: none

feat: archive completion sprint fixes
  modules/ingest/robust_fetcher.py
  modules/podcasts/cli.py
  modules/podcasts/resolvers/nyt_resolver.py
  modules/podcasts/resolvers/playwright_resolver.py
  scripts/check_cookies.py
  scripts/retry_failed_with_fixes.py
  scripts/simple_url_fetcher.py
  scripts/sync_resolvers.py
Due: none

fix: Add resource limits and browser concurrency control
  RESOURCE_POLICY.md
  modules/browser/headless.py
  systemd/atlas-daemon.service
Due: none

feat: add unified status command and enable always-running services
  CLAUDE.md
  modules/status/__init__.py
  modules/status/collector.py
  modules/status/formatter.py
  scripts/atlas_status.py
  scripts/import_whisper_transcripts.py
  scripts/simple_url_fetcher.py
  systemd/atlas-simple-fetcher.service
  systemd/atlas-url-fetcher.service
Due: none

feat: Whisper pipeline + metadata backfill + iHeart ad patterns
  modules/enrich/ad_stripper.py
  scripts/backfill_episode_metadata.py
  scripts/import_whisper_transcripts.py
  scripts/preprocess_whisper_transcript.py
Due: none

docs: update CLAUDE.md with Whisper pipeline automation
  CLAUDE.md
Due: none

feat: add Whisper queue to status + download all episodes
  modules/status/collector.py
  modules/status/formatter.py
  systemd/atlas-whisper-download.service
Due: none

feat: WhisperX speaker diarization pipeline for Mac Mini
  CLAUDE.md
  config/podcast_hosts.json
  modules/podcasts/speaker_mapper.py
  modules/podcasts/store.py
  modules/status/collector.py
  modules/status/formatter.py
  scripts/import_whisper_transcripts.py
  scripts/mac_mini/README.md
  scripts/mac_mini/com.atlas.whisperx.plist
  scripts/mac_mini/whisperx_watcher.py
Due: atlas-config-validation

fix: content-aware dedup in bridge.py + cookie fixes
  modules/enrich/ad_stripper.py
  modules/ingest/inbox_processor.py
  modules/links/bridge.py
  modules/podcasts/speaker_mapper.py
  modules/podcasts/store.py
  scripts/import_whisper_transcripts.py
  scripts/normalize_atp_speakers.py
Due: none

chore: pause link discovery, archive v1 queue
  config/link_approval_rules.yml
  data/archive/link_discovery_v1/README.md
Due: atlas-config-validation

feat: deterministic pathway system for podcast transcripts
  SESSION_STATE.md
  config/mapping.yml
  docs/TRANSCRIPT_RESOLUTION_FRAMEWORK.md
  docs/TRANSCRIPT_SYSTEMS.md
  modules/status/collector.py
  modules/status/formatter.py
  scripts/assign_pathways.py
  scripts/fallback_to_whisper.py
Due: atlas-config-validation

chore: stagger enrich timer to every 6h instead of daily
  scripts/import_whisper_transcripts.py
  scripts/preprocess_whisper_transcript.py
Due: none

feat: add fallback_to_whisper to transcript fetch loop
  systemd/atlas-transcripts.service
Due: none

feat: robust URL retry system + progress tracking + transcript reconciliation
  TODO.md
  config/whisper_podcasts.json
  modules/status/collector.py
  modules/status/formatter.py
  scripts/download_for_whisper.py
  scripts/import_whisper_transcripts.py
  scripts/progress_snapshot.py
  scripts/reconcile_transcripts.py
  scripts/simple_url_fetcher.py
  systemd/atlas-progress.service
  systemd/atlas-progress.timer
  systemd/atlas-whisper-download.service
Due: atlas-config-validation

docs: update LLM-OVERVIEW with current state + ONE_SHOT v5.5
  AGENTS.md
  CLAUDE.md
  LLM-OVERVIEW.md
Due: none

fix: resolve daemon crash loop + cleanup 13k garbage files
  CLAUDE.md
  modules/podcasts/resolvers/__init__.py
  modules/podcasts/resolvers/bulk_crawler.py
  modules/podcasts/resolvers/generic_html.py
  modules/podcasts/resolvers/network_transcripts.py
  modules/podcasts/resolvers/npr_crawler.py
  modules/podcasts/resolvers/podscripts.py
  modules/podcasts/resolvers/podscripts_crawler.py
  modules/podcasts/resolvers/rss_link.py
  modules/podcasts/resolvers/youtube_transcript.py
  modules/quality/__init__.py
  modules/quality/verifier.py
  scripts/atlas_daemon.py
  scripts/cleanup_marginal_garbage.py
Due: none

refactor: codebase rationalization - remove 26 dead files, restore 8 scripts
  modules/analysis/atlas_analytics.py
  modules/content_extraction/atlas_content_validator.py
  modules/content_extraction/transcript_extraction_engine.py
  modules/content_extraction/transcript_quality.py
  modules/podcasts/resolvers/google_search.py
  modules/podcasts/resolvers/smart_discovery.py
  modules/transcript_discovery/api_transcript_finder.py
  modules/transcript_discovery/archive_org_scraper.py
  modules/transcript_discovery/community_scraper.py
  modules/transcript_discovery/crawl4ai_podcast_scraper.py
  modules/transcript_discovery/crawlers/content_enhancer.py
  modules/transcript_discovery/crawlers/github_detector.py
  modules/transcript_discovery/crawlers/tech_resource_crawler.py
  modules/transcript_discovery/podcast_transcript_scraper.py
  modules/transcript_discovery/setup_youtube_scraper.py
  modules/transcript_discovery/simple_google_transcript_finder.py
  modules/transcript_discovery/tapesearch_transcript_finder.py
  modules/transcript_discovery/tavily_transcript_finder.py
  modules/transcript_discovery/transcript_fetchers.py
  modules/transcript_discovery/transcript_scrapers.py
  modules/transcript_discovery/ultimate_podcast_transcript_scraper.py
  modules/transcript_discovery/youtube_caption_scraper.py
  modules/wormhole/__init__.py
  modules/wormhole/receiver.py
  scripts/analyze_ads.py
  scripts/analyze_link_queue.py
  scripts/enrich_improve_loop.py
  scripts/fix_episode_urls.py
  scripts/recover_marginal_tiered.py
  scripts/retry_failed_urls.py
  scripts/rollback_rationalization.sh
  scripts/stratechery_crawler.py
  scripts/validate_podcast_sources.py
  thoughts/shared/plans/2025-12-23-codebase-rationalization.md
Due: none

docs: update CLAUDE.md with rationalization details
  CLAUDE.md
Due: none

feat: enable second brain with database and indexer fixes
  modules/ask/indexer.py
  modules/ask/vector_store.py
Due: none

docs: move detailed docs from CLAUDE.md to README.md
  CLAUDE.md
  README.md
Due: none

fix: prevent duplicate embedding API calls in indexer
  modules/ask/indexer.py
  modules/ask/vector_store.py
Due: none

fix: podcast resolvers, indexer rowid bug, Mac Mini SMB mount
  config/mapping.yml
  modules/ask/indexer.py
  scripts/crawl_tyler.py
  scripts/mac_mini/com.atlas.smb-mount.plist
  scripts/mac_mini/mount_atlas_whisper.sh
Due: atlas-config-validation

fix: Tyler transcript selector and URL generation
  config/mapping.yml
Due: atlas-config-validation

docs: comprehensive documentation update
  LLM-OVERVIEW.md
  README.md
  docs/adr/ADR-001-whisperx-watchdog.md
Due: none

feat: add Atlas v2 intelligence layer
  CLAUDE.md
  LLM-OVERVIEW.md
  README.md
  config/ask_config.yml
  modules/ask/__init__.py
  modules/ask/annotations.py
  modules/ask/cli.py
  modules/ask/output_formats.py
  modules/ask/synthesis.py
  modules/capture/__init__.py
  modules/capture/cli.py
  modules/capture/inbox.py
  modules/capture/processor.py
  modules/digest/__init__.py
  modules/digest/cli.py
  modules/digest/clusterer.py
  modules/digest/summarizer.py
Due: atlas-config-validation

feat: MacWhisper Pro transcription pipeline
  LLM-OVERVIEW.md
  scripts/systemd/atlas-whisper-push.service
  scripts/systemd/atlas-whisper-push.timer
  scripts/whisper_local.sh
  scripts/whisper_sweep.sh
Due: none

feat: Atlas Intelligence layer with web dashboard
  api/main.py
  api/routers/__init__.py
  api/routers/intelligence.py
  modules/ask/cli.py
  modules/ask/intelligence.py
  modules/ask/topic_map.py
  modules/ingest/robust_fetcher.py
  webapp/dist/intelligence.html
Due: none

feat: add MacWhisper pipeline scripts
  scripts/macwhisper_pipeline.sh
  scripts/whisper_push_pipeline.sh
Due: none

fix: content pipeline deduplication and Wayback fallback
  api/main.py
  api/routers/intelligence.py
  api/routers/shiori_compat.py
  docs/MAC_MINI_WHISPER.md
  modules/ask/intelligence.py
  modules/browser/headless.py
  modules/ingest/robust_fetcher.py
  modules/pipeline/content_pipeline.py
  modules/pipeline/content_validator.py
  scripts/atlas_daemon.py
  scripts/cleanup_duplicates.py
  scripts/cleanup_garbage.py
  scripts/macwhisper_pipeline.sh
  scripts/refresh_intelligence.py
  scripts/validate_scripts.py
Due: none

fix: clean up CI to stop daily failure emails
  .github/workflows/test.yml
  run_tests.sh
  tests/test_api.py
Due: none

fix: add html2text to requirements for CI
  requirements.txt
Due: atlas-dependency-check

fix: add trafilatura to requirements for CI
  requirements.txt
Due: atlas-dependency-check

fix: add missing content_validator module for CI
  modules/quality/content_validator.py
Due: none

Path conditions:
  atlas-config-validation: any of: ^(config/|env\.template|\.env)
  atlas-dependency-check: any of: ^requirements\.txt$
